.banner{
    background-image: url("https://img.freepik.com/free-photo/shiny-night-city_1127-8.jpg?t=st=1646725073~exp=1646725673~hmac=54dd42b6a7cc34135f5b8c83834a31e26ba7ff868d37ed43817478900833c461&w=740");
    height:600px;
    margin-top: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #5c5c5ca9 */
.banner-text{
    /* background-color:  #7393b3b2; */
    padding: 20px;
    border-radius: 5px;
    
}

.banner-link a{
    text-decoration: none;
    color:darkorange;
    font-weight: 800;
    font-size: 40px;
    margin-right: 30px;
    background-color:#5c5c5ca9 ;
}
